@using Entities;
@using Business;

<div>
    <EditForm Model="oProduct">
        <div class="form-control">
            <label>Referencia:</label>
            <InputText @bind-Value="oProduct.ProductId" class="form-control"></InputText>
        </div>
        <div class="form-control">
            <label>Nombre del producto:</label>
            <InputText @bind-Value="oProduct.ProductName" class="form-control"></InputText>
        </div>
        <div class="form-control">
            <label>Descripción:</label>
            <InputTextArea @bind-Value="oProduct.ProductDescription" class="form-control"></InputTextArea>
        </div>
        <input type="button" value="Guardar" @onclick="SaveProduct" />
    </EditForm>
</div>

@code {
    //Objeto de tipo ProductEntity
    ProductEntity oProduct = new ProductEntity();

    private void SaveProduct()
    {
        B_Product.CreateProduct(oProduct);
    }
}
